/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

a {
    color: #ffffcc;
    text-decoration: none;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

#root-container {
    padding-top: 2em;
    // padding-left: 5em;
}

.root-content-div {
    // align-items: center;
    // justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #eeeeee;
}

// 
// navbar
// 

// .v-toolbar__prepend {
//     padding-left: 1em;
// }

.v-toolbar__append {
    padding-right: 1em;
}