/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

a {
    color: #ffffcc;
    text-decoration: none;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

// navbar
// .v-toolbar__prepend {
//     padding-left: 1em;
// }

.v-toolbar__append {
    padding-right: 1em;
}